.createRecipe {
  display: flex;
  flex-direction: row;
  width: 70%;
  max-width: 1000px;
  margin-bottom: 32px;
  background-color: rgba(148, 132, 112, 0.3);
  border: 5px double #896723;
  border-radius: 25px;
  justify-content: center;
  align-self: center;
}
@media (max-width: 700px) {
  .createRecipe {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .createRecipe {
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .createRecipe {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .createRecipe {
    width: 75%;
  }
}
.createRecipe__form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  padding: 16px 32px 32px 32px;
}
.createRecipe__form__label {
  width: fit-content;
  margin: 16px 0px 12px;
  font-weight: bold;
  cursor: pointer;
}
.createRecipe__form__input {
  padding: 6px 8px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  color: #896723;
  font-size: 0.9rem;
  font-family: inherit;
}
.createRecipe__form__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 32px;
}
.createRecipe__form__row__section {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.createRecipe__form__row__section.heading {
  width: 100%;
}
.createRecipe__form__row__section.heading .formInput {
  width: calc(100% - 16px);
}
.createRecipe__form__row__section.date {
  width: fit-content;
}
.createRecipe__form__row__section.date .formInput {
  width: 120px;
}
.createRecipe__form__description {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 16px;
  padding-left: 24px;
  gap: 16px;
}
.createRecipe__form__description__item {
  padding-left: 8px;
  outline: 0px;
}
.createRecipe__form__description__btns {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.createRecipe__form__description__btns__btn {
  width: fit-content;
  padding: 6px 16px;
  background-color: #fefefe;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}
.createRecipe__form__description__btns__btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 0 2px;
  transition: 0.5s;
}
.createRecipe .imgInput {
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 12px;
}
.createRecipe .imgInput__section {
  display: flex;
  flex-wrap: nowrap;
  width: calc(50% - 12px);
  align-items: center;
  gap: 8px;
}
@media (max-width: 700px) {
  .createRecipe .imgInput__section {
    width: 100%;
  }
}
.createRecipe .imgInput__section__fileInput {
  display: none;
}
.createRecipe .imgInput__section__fileInput__label {
  width: 75px;
  padding: 6px 12px;
  background-color: #fefefe;
  font-size: 0.9rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.createRecipe .imgInput__section__fileInput__label:hover {
  opacity: 0.8;
  box-shadow: 0 0 0 2px;
  transition: 0.5s;
}
.createRecipe .imgInput__section__fileInput__msg {
  width: calc(100% - 75px);
  font-size: 0.8rem;
}
.createRecipe .imgInput .formInput {
  width: min-content;
  padding: 0px;
}
.createRecipe .categories {
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-between;
}
.createRecipe .categories__section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: fit-content;
  align-items: flex-start;
}
.createRecipe .categories__section label {
  margin-left: 8px;
}
.createRecipe .categories__section__options {
  padding: 6px 4px;
  background-color: #fefefe;
  color: #896723;
  font-size: 0.9rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 8px;
  outline: none;
  justify-items: center;
  cursor: pointer;
}
.createRecipe .categories__section__options:hover {
  opacity: 0.8;
  box-shadow: 0 0 0 2px;
  transition: 0.5s;
}
.createRecipe .ingredientsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.createRecipe .ingredientsList__ingredient {
  width: calc(50% - 32px);
  padding-left: 8px;
  gap: 4px;
}
.createRecipe .ingredientsList__ingredient .formInputIngredient {
  display: flex;
  width: 100%;
  font-size: 0.9rem;
  gap: 8px;
}
.createRecipe .ingredientsList__ingredient .formInputIngredient__ingredient {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  padding: 6px 8px;
  font-weight: normal;
  border: 0;
  border-radius: 6px;
  outline: 0;
  color: #896723;
}
.createRecipe .ingredientsList__ingredient .formInputIngredient__qty {
  display: flex;
  width: 70px;
  margin-bottom: 8px;
  padding: 6px 8px;
  font-weight: normal;
  border: 0;
  border-radius: 6px;
  outline: 0;
  color: #896723;
}
.createRecipe .ingredientsList__ingredient .formInputIngredient__unit {
  width: fit-content;
  height: 28px;
  font-size: inherit;
  color: #896723;
  border: 0;
  border-radius: 6px;
  outline: 0;
}
.createRecipe .formTextBox {
  display: flex;
  width: calc(100% - 16px);
  padding: 6px 8px;
  color: #896723;
  font-size: 0.9rem;
  font-weight: normal;
  border: 0;
  border-radius: 6px;
  outline: 0;
  resize: none;
}
.createRecipe .removeIgredient__msg {
  font-size: 0.9rem;
  align-self: center;
}
.createRecipe .removeItem__msg {
  font-size: 0.9rem;
  align-self: center;
}
.createRecipe .btnCreateRecipe {
  width: 40%;
  margin-top: 24px;
  padding: 8px 16px;
  background-color: #fefefe;
  color: #896723;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
}
.createRecipe .btnCreateRecipe:hover {
  opacity: 0.8;
  box-shadow: 0 0 0 2px;
  transition: 0.5s;
}
.createRecipe .btnCreateRecipe:active {
  transform: translate(0px, 1px);
}
.createRecipe .btnCreateRecipe__msg {
  margin-top: 24px;
  padding: 9px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  align-self: center;
  gap: 6px;
}

/*# sourceMappingURL=skapaRecept.css.map */
