$light-color: #fefefe;
$gold-color: #896723;
$dark-gold-color-0-6: #6152349e;
$dark-gold-color: #615234;
$beige-color-0-2: rgba(148, 132, 112, 0.2);
$beige-color-0-3: rgba(148, 132, 112, 0.3);
$beige-color-0-4: rgba(148, 132, 112, 0.4);
$beige-color-0-6: rgba(148, 132, 112, 0.6);
$beige-color-0-8: rgba(148, 132, 112, 0.8);
$beige-color: rgba(148, 132, 112);
$beige-color-light-0-2: rgba(238, 227, 214, 0.2);
$beige-color-light-0-3: rgba(238, 227, 214, 0.3);
$beige-color-light-0-4: rgba(238, 227, 214, 0.4);
$beige-color-light-0-6: rgba(238, 227, 214, 0.6);
$beige-color-light: rgb(238, 227, 214);
$brown-color: rgb(55, 48, 38);

$media-XS: 700px;
$media-S: 850px;
$media-M: 1000px;
$media-L: 1200px;
$media-XL: 1400px;
