@import "variables";
@import "mixin";

.filterBar {
  display: flex;
  flex-direction: column;
  min-height: 30px;
  margin-bottom: 32px;
  background-color: $beige-color-0-3;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: $borderFrame;
  &__headding {
    display: block;
    cursor: pointer;
  }

  &__filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 64px);
    margin: 0px 32px 18px;
    font-family: inherit;
    font-size: 1rem;
    justify-content: space-around;
    align-items: flex-end;
    gap: 32px;
    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: fit-content;

      & label {
        margin-bottom: 8px;
        padding-left: 12px;
        font-size: 1.2rem;
        font-weight: bold;
      }

      & select {
        width: fit-content;
        padding: 6px 12px;
        background-color: $light-color;
        color: $gold-color;
        border-radius: 10px;
        border: 1px solid;
        outline: 0px;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        @include btnEffect;
      }
    }
  }
  & button {
    padding: 7px 12px;
    background-color: $light-color;
    color: $gold-color;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid $gold-color;
    border-radius: 10px;
    cursor: pointer;
    @include btnEffect-active;
  }
}
