@import "variables";
@import "mixin";

.homeSection {
  position: relative;
  margin-top: 32px;
  text-align: center;
  z-index: 2;

  & .imgText {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    align-self: center;
    transform: translate(-45%, -45%);
    font-size: 1.5rem;
    @media (min-width: $media-XS) {
      font-size: 1.8rem;
      transform: translate(-45%, -45%);
    }
    @media (min-width: $media-S) {
      font-size: 2rem;
      transform: translate(-45%, -42%);
    }
    @media (min-width: $media-M) {
      width: 60%;
      font-size: 2.1rem;
      transform: translate(-43%, -10%);
    }
    @media (min-width: $media-L) {
      font-size: 2.5rem;
      transform: translateX(-43%);
    }
    @media (min-width: $media-XL) {
      font-size: 2.8rem;
      transform: translateX(-43%);
    }
  }
}
