@import "variables";
@import "mixin";

.createRecipe {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 32px;
  background-color: $beige-color-0-3;
  border: $borderFrame;
  border-radius: 25px;
  justify-content: center;
  align-self: center;
  @media (min-width: $media-XS) {
    width: 85%;
  }
  @media (min-width: $media-M) {
    width: 80%;
  }
  @media (min-width: $media-L) {
    width: 75%;
  }
  @media (min-width: $media-XL) {
    width: 75%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
    padding: 16px 32px 32px 32px;

    &__label {
      width: fit-content;
      margin: 16px 0px 12px;
      font-weight: bold;
      cursor: pointer;
    }
    &__input {
      padding: 6px 8px;
      border: 0;
      outline: 0;
      border-radius: 6px;
      color: $gold-color;
      font-size: 0.9rem;
      font-family: inherit;
    }
    &__row {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      gap: 32px;

      &__section {
        display: flex;
        flex-direction: column;
        width: fit-content;
        &.heading {
          width: 100%;
          & .formInput {
            width: calc(100% - 16px);
          }
        }
        &.date {
          width: fit-content;

          & .formInput {
            width: 120px;
          }
        }
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 16px;
      padding-left: 24px;
      gap: 16px;

      &__item {
        padding-left: 8px;
        outline: 0px;
      }
      &__btns {
        display: flex;
        flex-direction: row;
        gap: 16px;
        &__btn {
          width: fit-content;
          padding: 6px 16px;
          background-color: $light-color;
          color: inherit;
          font-family: inherit;
          font-size: 1rem;
          font-weight: bold;
          border: 1px solid;
          border-radius: 10px;
          cursor: pointer;
          @include btnEffect;
        }
      }
    }
  }
  .imgInput {
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 12px;

    &__section {
      display: flex;
      flex-wrap: nowrap;
      width: calc(100% / 2 - 12px);
      align-items: center;
      gap: 8px;
      @media (max-width: $media-XS) {
        width: 100%;
      }

      &__fileInput {
        display: none;
        &__label {
          width: 75px;
          padding: 6px 12px;
          background-color: $light-color;
          font-size: 0.9rem;
          font-weight: bold;
          border: 1px solid;
          border-radius: 10px;
          text-align: center;
          cursor: pointer;
          @include btnEffect;
        }
        &__msg {
          width: calc(100% - 75px);
          font-size: 0.8rem;
        }
      }
    }
    & .formInput {
      width: min-content;
      padding: 0px;
    }
  }

  .categories {
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;

    &__section {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: fit-content;
      align-items: flex-start;
      & label {
        margin-left: 8px;
      }
      &__options {
        padding: 6px 4px;
        background-color: $light-color;
        color: $gold-color;
        font-size: 0.9rem;
        font-weight: bold;
        border: 1px solid;
        border-radius: 8px;
        outline: none;
        justify-items: center;
        cursor: pointer;
        @include btnEffect;
      }
    }
  }

  .ingredientsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
@media (max-width: $media-S) {
  flex-direction: column;
}
    &__ingredient {
      width: calc(100% / 2 - 32px);
      padding-left: 8px;
      gap: 4px;
      @media (max-width: $media-S) {
        width: calc(100% - 32px);
      }
      & .formInputIngredient {
        display: flex;
        width: 100%;
        font-size: 0.9rem;
        gap: 8px;
        &__ingredient {
          display: flex;
          width: 100%;
          margin-bottom: 8px;
          padding: 6px 8px;
          font-weight: normal;
          border: 0;
          border-radius: 6px;
          outline: 0;
          color: $gold-color;
        }

        &__qty {
          display: flex;
          width: 55px;
          text-align: center;
          margin-bottom: 8px;
          padding: 6px 8px;
          font-weight: normal;
          border: 0;
          border-radius: 6px;
          outline: 0;
          color: $gold-color;
        }
        &__unit {
          width: fit-content;
          height: 28px;
          font-size: inherit;
          color: $gold-color;
          border: 0;
          border-radius: 6px;
          outline: 0;
        
        }
      }
    }
  }

  .formTextBox {
    display: flex;
    width: calc(100% - 16px);
    padding: 6px 8px;
    color: $gold-color;
    font-size: 0.9rem;
    font-weight: normal;
    border: 0;
    border-radius: 6px;
    outline: 0;
    resize: none;
  }
  .removeIgredient__msg {
    font-size: 0.9rem;
    align-self: center;
  }
  .removeItem__msg {
    font-size: 0.9rem;
    align-self: center;
  }
  .btnCreateRecipe {
    width: 40%;
    margin-top: 24px;
    padding: 8px 16px;
    background-color: $light-color;
    color: $gold-color;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    @include btnEffect-active;
    &__msg {
      margin-top: 24px;
      padding: 9px 16px;
      font-size: 1.2rem;
      font-weight: bold;
      align-self: center;
      gap: 6px;
    }
  }
}
